
.bg-body-tertiary {
  background-color: white !important;
}
.logo-name-text {
  margin-bottom: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgb(129 169 25);
}
.logo-text-1 {
  font-size: 10px;
  position: relative;
  left: 29px;
}
.logo-text-2 {
  margin-left: 10px;
  letter-spacing: 1px;
}
.logo-text-3 {
  margin-left: 20px;
  letter-spacing: 1px;
}
.seed-icon {
  margin-left: 2px;
  margin-bottom: 2.5px;
  display: inline-flex;
  width: 17px;
  height: auto;
  /* -webkit-transform: scaleX(-1); */
  /* transform: scaleX(-1); */
  position: absolute;
  top: -20px;
  left: 71px;
}

#navbarNav {
  transition: all 1s ease-in-out 0s;
}
.navbar-nav {
  height: 100vh;
  text-align: center;
  transform: translate(0, 20%);
}
.nav-item {
  font-size: 20px;
}

.background-img-item img {
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.intro-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  display: block;
  background-color: rgb(23 22 22 / 60%);
  padding: 10px;
  z-index: 1;
  width: 100%;
}
.slogan-text {
  background-color: white;
  color: black;
  transform: translate(0px, 0px);
  position: unset;
  top: 0;
  left: 0;
  padding: 20px;
  margin: 20px auto;
}
.mission-container {
  background-color: #409d43;
  padding-bottom: 20px;
}
.mission-container > .heading-style-1,
.mission-container > .text-style-1 {
  color: white;
  font-family: Rubik, Source Sans Pro, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
}
.mission-container > .text-style-1 {
  font-weight: 500;
}

.mission-image-container,
.product-section-img-container {
  object-fit: contain;
  height: 225px;
  overflow: hidden;
  border-radius: 10px;
  width: 90%;
  margin: 20px auto;
  display: block;
}
.mission-image-container > img,
.product-section-img-container > img {
  object-fit: fill;
  display: block;
  width: 100%;
}
/* Our products section styling */
.products-section-container, .knowUs-section-container {
  margin-top: 100px;
}
.product-section-container-list, .knowUs-section-container-list {
  list-style: none;
  font-family: Rubik, Source Sans Pro, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
  padding-left: 0;
  margin-top: 50px;
}
.product-section-container-list h3 {
  padding-left: 2rem;
  color: #409d43;
  font-weight: 500;
}
.product-section-container-list .text-style-1 {
  margin: auto;
  padding-left: 2rem;
  padding-right: 2rem;
  color: black;
}
.abaca-button {
  font-weight: 600;
  letter-spacing: 0.142857em;
  line-height: 1.4;
  text-transform: uppercase;
  align-items: center;
  border-radius: 32px;
  cursor: pointer;
  height: 56px;
  justify-content: center;
  max-width: 343px;
  padding: 0 24px;
  text-decoration: none;
  transition: none 0.3s ease;
  transition-property: background, border-color, color;
  margin: 20px auto;
  display: flex;
}
.product-section-container-list li {
  margin-top: 60px;
}

.knowUs-section-container-list img{
  width: 150px;
  height: 150px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  display: block;
  margin: auto;
}
.knowUs-section-container-list a img {
  width: 50px;
  height: 50px;
}

.knowUs-section-container {
  background-color: #409d43;
  margin-top: 0;
  padding-bottom: 50px;
}
.knowUs-section-container-list {
  text-align: center;
}
.knowUs-section-container-list li {
  width: 70%;
    margin: auto;
    border-radius: 10px;
    background-color: white;
    padding: 20px;
    border: 2px grey solid;
}
.knowUs-section-container-list li p {
  margin: 20px auto 0;
  font-weight: 200;
  font-size: 18px;
}

.knowUs-section-container-list li:first-child {
  margin-bottom: 50px;
}

.text-style-2 {
  margin-bottom: 0;
  font-weight: bold;
}
.text-style-3 {
  margin-top: 1rem;
}

.about-container {
  position: relative;
  background: rgb(250, 231, 195);
}
.about-container .text-style-1 {
  margin-bottom: 0;
}
.wave-block {
  overflow: hidden;
  width: 100%;
}
.wave {
  background-color: white;
  display: block;
  width: 137%;
  height: 100px;
  transform: skew(242deg, -2deg);
  position: relative;
  top: -30px;
  border-radius: 100%;
  border-top-left-radius: 0;
}
.wave-3 {
  background-color: rgb(250, 231, 195);
}
.wave-4{
  background-color: #409d43;
}

.water-mark-logo-img {
  position: absolute;
  top: 45%;
  left: 0;
  opacity: 0.3;
  text-align: center;
  width: 100%;
}
.intro-text h5 {
  text-align: right;
}
.carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: none;
}
/* .snapshot-inner-container{
  background-color: #e7e6e6;
} */
.display-image {
  opacity: 0;
  transition: all 1s ease-out;
}
.is-in-viewport {
  opacity: 1;
  transition: all 0.2s ease-in;
}
.snapshot-image {
  width: 80%;
  height: 60% !important;
  margin: auto;
}

.snapshot-img {
  width: 74%;
  background-color: #cccccc;
  height: 274px;
  margin: auto;
  border-radius: 50%;
}
.data-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 0;
}
.data-container p {
  letter-spacing: 1.2px;
}
.data-container a img {
  width: 65px;
  margin-left: 10px;
  margin-bottom: 1rem;
  transition: width 0.2s;
  transition-timing-function: ease-in-out;
}
.footer {
  background: rgb(250, 231, 195);
  color: black;
}
.footer li {
  list-style: none;
  margin: 10px auto;
  color: black;
}
.footer ul a {
  color: black;
  text-decoration: none;
}
.footer ul a:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* abaca page */
.heading-style-1 {
  color: black;
  /* font-family: "Times New Roman", Times, serif; */
  font-family: Rubik, Source Sans Pro, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
  text-align: center;
  font-weight: bold;
  margin: 50px auto 0px;
}
.text-style-1 {
  margin: 50px;
  /* font-family: "Times New Roman", Times, serif; */
  font-family: Rubik, Source Sans Pro, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
  color: black;
  font-size: 21px;
}

/* Gallery page */
.gallery-item {
  background-color: #a59e9e29;
  padding: 50px 0;
}

.gallery-item > img {
  display: block;
  margin: 15px auto;
  width: 80%;
}

.goTo-gallery-btn > p > a {
  text-decoration: none;
  color: white;
}
.goTo-gallery-btn > .text-style-1 {
  width: fit-content;
  /* background-color: #597959; */
  background-color: rgb(129 169 25);
  padding: 15px;
  margin-left: 20px;
  color: white;
  border-radius: 10px;
  border-bottom: solid 2px #00000061;
  border-right: solid 2px #00000063;
}
.goTo-gallery-btn > .text-style-1:hover {
  cursor: pointer;
}

.abaca-article-container > h3 {
  margin: 50px 20px 0;
}

.qrCode-img {
  display: block;
  width: 30%;
  border-radius: 10px;
}
/* OUR PRODUCTS PAGE */
.products-ul-container {
  list-style-type: none;
  padding-left: 0;
  text-align: center;
  font-size: initial;
}
.product {
  border: solid 0.5px grey;
  margin: 5px;
}
.product img {
  width: 40%;
  margin: auto;
}
.product .text-style-2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 2px;
  padding-right: 2px;
}
.product .text-style-3 {
  margin: 1rem;
}
/* breakpoints */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #product > img:hover {
    transform: scale(2.5);
    transition: 1s ease-in-out;
  }
  .carousel-inner-1 {
    background-color: rgb(0 0 0 / 6%);
  }
  .background-img-item img {
    margin: auto;
    width: 100%;
  }

  .text-style-1 {
    font-size: 26px;
  }
  .nav-item {
    font-size: 30px;
  }
  .snapshot-img {
    width: 50%;
    height: 400px;
  }
  .gallery-item {
    background-image: url("./images/background-pattern-image.jpg");
    background-position: center;
    background-repeat: repeat-y;
  }
  .products-container {
    background-color: #81a91ab5;
    padding-top: 5px;
  }
  .product {
    width: 100%;
    background-color: white;
    box-shadow: 1px 1px 10px #666363;
    border: none;
  }
  .product img {
    height: 130px;
  }
  .products-ul-container {
    font-size: initial;
  }
  .product-div-container {
    display: inline-flex;
    width: 31.3%;
    max-width: 31.3%;
    height: 420px;
    max-height: 420px;
    /* padding-left: 5px;
    padding-right: 5px; */
  }
  .product .text-style-3 {
    margin: 5px;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .logo-text-1 {
    font-size: 20px;
  }
  .logo-text-2,
  .logo-text-3 {
    font-size: 30px;
  }
  .seed-icon {
    width: 30px;
    top: -39px;
    left: 95px;
  }
  .intro-text {
    background-color: rgb(23 22 22 / 30%);

  }
  .intro-text h1{
    font-size: 45px !important;
  }
  .slogan-text{
    background-color: rgb(23 22 22 / 0%);
    width: 73%;
  }
  .slogan-text h1 {
    font-size: 40px !important;
  }
  .mission-image-container, .mission-container > .heading-style-1, .mission-container > .text-style-1, .about-container .text-style-1 {
    width: 60%;
  }
  .mission-image-container {
    height: 333px;
  }
  .mission-container > .text-style-1, .about-container .text-style-1 {
    margin-left: auto;
    margin-right: auto;
  }
  .product-section-img-container {
    width: 40%;
    margin: 20px;
  }
  .float-left {
    float: left;
    clear: right;
  }
  .float-right{
    float: right;
    clear: left;
  }
  .product-section-container-list h3 {
    padding-top: 20px;
    display: flex;
  }
  .product-section-container-list .text-style-1 {
    display: flex;
  }
  .product-section-img-container > img {
    border-radius: 10px;
  }
  
  .knowUs-section-container-list li {
    width: 65%;
    height: 480px;
  }

  .goTo-gallery-btn > .text-style-1 {
    margin-left: 80px;
  }
  .gallery-item {
    text-align: center;
  }
  .gallery-item > img {
    display: inline-flex;
    margin: 20px;
    width: 40%;
  }
  /* .products-container img {
    width: 60%;
  } */
  .qrCode-img {
    width: 19%;
  }
}

@media only screen and (min-width: 820px) {
  .knowUs-section-container-list {
    text-align: center;
    justify-content: center;
    display: flex;
}
  .knowUs-section-container-list li {
    width: 40%;
    height: 500px;
    margin: auto 20px;
}
.knowUs-section-container-list li:first-child {
  margin-bottom: 0;
}

}





/* PRODUCTS PAGE */

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .bg-body-tertiary{
    padding-bottom: 0;
  }
  .navbar-nav {
    height: auto;
    text-align: center;
    transform: none;
  }
  .navbar-collapse {
    flex-basis: 0;
    flex-grow: 0;
    align-items: right;
  }
  .nav-item {
    font-size: 18px;
}
  .navbar-nav > .nav-item:not(:last-child) {
    margin-right: 20px;
  }
  .background-img-item img {
    width: 100%;
    height: 600px;
  }
 
  .heading-style-1,
  .footer h1 {
    font-size: 40px;
  }
  .text-style-1 {
    font-size: 24px;
  }
  .product-section-container-list h3 {
    width: fit-content;
  }
  .product-section-container-list, .knowUs-section-container-list {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .mission-image-container {
    width: 54%;
    height: 355px;
    float: right;
    clear: left;
    padding-top: 50px;
    margin-top: 150px;
  }
  .mission-image-container > img {
    width: 90%;
    border-radius: 10px;
  }
  .mission-container > .text-style-1 {
    margin-left: 66px;
    margin-right: 20px;
    width: 35%;
  }
  .mission-container > .heading-style-1 {
    margin-left: 66px;
    width: fit-content;
    margin-right: 20px;
  }
  .snapshot-container > .carousel-inner > .carousel-item {
    display: contents !important;
    transition: none !important;
  }
  .snapshot-container > .carousel-inner {
    text-align: center;
  }
  .snapshot-img {
    width: 30%;
    height: 300px;
    margin: 10px;
    display: inline-flex !important;
  }
  .gallery-item > img {
    display: inline-flex;
    margin: 25px;
    width: 38%;
  }
  .gallery-item > video {
    width: 60%;
  }

  .footer ul {
    font-size: 24px;
  }
  /* .products-container img {
    width: 40%;
  } */
  .qrCode-img {
    width: 10%;
  }
  .product .text-style-3 {
    font-size: initial;
  }
}
@media only screen and (min-width: 1160px) {
  .product-section-container-list {
    width: 70%;
  }

  .product-section-container-list li:not(:first-child) {
    margin-top: 90px;
  }
  .product-section-container-list h3{
    padding-top: 40px;
    width: 50%;
  }
  .product-section-img-container {
    width: 34%;
  }
  .mission-image-container{
    margin-top: 100px;
    height: 400px;
    display: flex;
    justify-content: center;
     margin-right: 40px;
  }
  .mission-image-container > img {
width: 60%;
  }
  .mission-container > .heading-style-1, .mission-container > .text-style-1{
    margin-left: 300px;
    margin-right: 10px;
  }
  .knowUs-section-container-list li{
    width: 25%;
    height: 580px;
  }
  .wave-block-2 {
    position: relative;
    top: -16px;
  }

}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  /* .about-container {
    padding: 0 60px;
  } */

  /* .goTo-gallery-btn > .text-style-1 {
    margin-left: 170px;
  } */
   .wave {
    transform: skew(242deg, 0deg);
   }
  .gallery-item > img {
    display: inline-flex;
    margin: 20px;
    width: 30%;
  }
  .gallery-item > video {
    width: 50%;
  }
  /* .products-container img {
    width: 25%;
  } */
}

@media only screen and (min-width: 1300px) {
  /* .about-container {
    padding: 0 120px;
  } */
  .snapshot-img {
    width: 18%;
    height: 218px;
  }
  /* .goTo-gallery-btn > .text-style-1 {
    margin-left: 200px;
  } */
}

@media only screen and (min-width: 1600px) {
  .snapshot-img {
    width: 12%;
    height: 218px;
  }
}
